@tailwind base;
@tailwind components;
@tailwind utilities;

#wrapper {
    min-height: 100vh; /* 100% da altura da tela */
    display: flex;
    flex-direction: column
}

#content {
    flex: 1; /* Faz o main crescer para ocupar o espaço restante */
    padding: 20px;
}